#title {
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FEFFFF;
  line-height: 28px;
}
.table-title {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #759CB6;
  line-height: 20px;
}
#table-line {
  width: 90%;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 4%;
}
#table-row {
  margin-top: 3%;
  display: flex;
}
.point-name {
  width: 80px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
}
.point-count {
  margin-left: 24px;
  width: 26px;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #9BABC5;
  line-height: 20px;
}
.progress-bar {
  margin-left: 40px;
  margin-top: 6px;
  width: 238px;
  height: 8px;
  background-color: #050E1C;
  border-radius: 3px;
}
.progress {
  width: 100%;
  height: 100%;
  background-color: #21CC97;
  border-radius: 4px;
}
