
<div style="width: 100%;height: 100%;background: #050E1C;border: 1px solid #3C81A8;">

        <p id="title">近一天集控点操作TOP10</p>
        <div style="margin-top: 5%;">
            <a class="table-title">集控点</a>
            <a style="margin-left:78px" class="table-title">操作数量</a>
        </div>
        <div id="table-line"></div>

        <div id="table-row">
            <div class="point-name">徐州001</div>
            <div class="progress-bar">
                <div class="progress">
                </div>
            </div>
            <div class="point-count">340</div>
        </div>

        <div id="table-row">
            <div class="point-name">徐州001</div>
            <div class="progress-bar">
                <div class="progress">
                </div>
            </div>
            <div class="point-count">340</div>
        </div>

        <div id="table-row">
            <div class="point-name">徐州001</div>
            <div class="progress-bar">
                <div class="progress">
                </div>
            </div>
            <div class="point-count">340</div>
        </div>
        
    
</div>