<svg width="224px" height="224px" viewBox="0 0 224 224" version="1.1">
    <title>编组 4</title>
    <defs>
        <circle id="path-1" cx="112" cy="112" r="112"/>
    </defs>
    <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="首页大屏" transform="translate(-1076.000000, -173.000000)">
            <g id="操作分布" transform="translate(960.000000, 105.000000)">
                <g id="编组-4" transform="translate(116.000000, 68.000000)">
                    <g id="路径-22-+-路径-22备份-+-路径-22备份-2-蒙版">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"/>
                        </mask>
                        <circle stroke="#21CC97" stroke-width="0.8" cx="112" cy="112" r="111.6"/>
                        
                        <!-- <line x1="112" y1="112" x2="5.825" y2="56" id="路径-22" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/>
                        <line x1="112" y1="112" x2="112" y2="224" id="路径-22备份" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/>
                        <line x1="112" y1="112" x2="224" y2="72" id="路径-22备份-2" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/>
                        <line x1="112" y1="112" x2="208.5" y2="186.5" id="路径-22备份-3" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/> -->
                        <line x1="112" y1="112" [attr.x2]=loc[0] [attr.y2]=loc[1] id="路径-22备份-4" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/>
                        <line x1="112" y1="112" [attr.x2]=loc[2] [attr.y2]=loc[3] id="路径-22备份-5" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/>
                        <line x1="112" y1="112" [attr.x2]=loc[4] [attr.y2]=loc[5] id="路径-22备份-5" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/>
                        <line x1="112" y1="112" [attr.x2]=loc[6] [attr.y2]=loc[7] id="路径-22备份-5" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/>
                        <line x1="112" y1="112" [attr.x2]=loc[8] [attr.y2]=loc[9] id="路径-22备份-5" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/>
                        <line x1="112" y1="112" [attr.x2]=loc[10] [attr.y2]=loc[11] id="路径-22备份-5" stroke="#20CA95" stroke-width="3.2" stroke-linecap="round" mask="url(#mask-2)"/>

                        
                    </g>
                    <circle id="椭圆形" stroke="#21CC97" stroke-width="12" fill="#030E1D" cx="112" cy="112" r="42"/>
                    <circle id="椭圆形备份" stroke="#21CC97" stroke-width="0.8" fill-opacity="0.1" fill="#21CC97" cx="112" cy="112" r="79.6"/>
                    <circle id="椭圆形备份-3" stroke="#030E1D" stroke-width="32" opacity="0.599904615" cx="112" cy="112" r="96"/>
                </g>
            </g>
        </g>
    </g>
</svg>